{#
/**
* @file
* Template for the views complex grouping style.
*/
#}


<div class="views-complex-grouping-leave level_{{ grouping_level }} branch_{{ grouping_branch }}">
    {% if title %}
    <h3>{{ title }}</h3>
    {%  endif %}
    {% for row in rows %}
    <div class="views-row views-row-{{ zebra }} {{ sclasses }}">
        {{ row }}
    </div>
    {% endfor %}
</div>